@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type='text/javascript'>
    function basics1() {
        document.getElementById('output').innerHTML = interface.getAnswer();
    }

    function basics2(answer) {
        interface.setAnswer(answer);
        document.getElementById('output').innerHTML = "Done.";
    }

    function getContent() {
        var result = interface.getUriContentAsync("https://kaki104.tistory.com/m/625").then(
            function (content) {
                document.getElementById('output').innerHTML = content;
            },
            function () {
                document.getElementById('output').innerHTML = "canceled";
            }
        );
    }

    function navigate(location) {
        switch (location) {
            case 'home':
                interface.goHome();
                break;
            case 'movie':
                interface.goMovie();
                break;
        }
    }

    function setText(text) {
        document.getElementById('output').innerHTML = text;
    }

    function getText() {
        return "Hi nice meet you!!";
    }

    function alertBox(message) {
        window.external.notify('alert:' + message); 
    }

    function confirmBox(message) { 
        window.external.notify('confirm:' + message); 
    }

    function confirmBoxResult(result) {
        document.getElementById('output').innerHTML = result;
    }
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="buttons">
        <button id="button1" onclick="basics1()">Basics 1</button>
        <button id="button2" onclick="basics2('Microsoft')">Basics 2</button>
        <button id="button3" onclick="getContent()">Get Content</button>
        <button id="button4" onclick="navigate('home')">Go Home</button>
        <button id="button5" onclick="navigate('movie')">Go Movie</button>
        <button id="button6" onclick="alertBox('Everything is ok!')">Alert</button>
        <button id="button7" onclick="confirmBox('Are you sure?')">Confirm</button>
    </div>
    <div id="output"></div>
</div>
